<!doctype html>
<html ng-app="animalManagement">

<head>
    <link href="bower/angular-material/angular-material.css" rel="stylesheet">
    <link href="../animals/animals.css" rel="stylesheet">
    
    <script src="bower/angular/angular.js"></script>
    <script src="bower/angular-animate/angular-animate.js"></script>
    <script src="bower/angular-aria/angular-aria.js"></script>
    <script src="bower/angular-material/angular-material.js"></script>
    <script src="../animals/animalManagement.js"></script>
</head>

<body ng-controller="AnimalManagementController">
    
    <div ng-include="'../nav/nav.html'"></div>
    
    
    
    

</body>
</html>