<!doctype html>
<html ng-app="scheduleManagement">

<head>
    <link href="bower/angular-material/angular-material.css" rel="stylesheet">
    <link href="../schedule/schedule.css" rel="stylesheet">
    
    <script src="bower/angular/angular.js"></script>
    <script src="bower/angular-animate/angular-animate.js"></script>
    <script src="bower/angular-aria/angular-aria.js"></script>
    <script src="bower/angular-material/angular-material.js"></script>
    <script src="../schedule/scheduleManagement.js"></script>
</head>

<body ng-controller="ScheduleManagementController">
    <div ng-include="'../nav/nav.html'"></div>
    
    <div>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom layout-padding md-selected="tabSelect">
                  
                <md-tab label="Day" flex>
                    <h4 style="text-align:center"><md-button ng-click="previousDay()">&lt;</md-button>{{viewingDate.toDateString()}}<md-button ng-click="nextDay()">&gt;</md-button></h4>
                    
                    <div class="dayScheduleWrapper">
                        <div class="headerRow" layout="row">
                            <div class="headerTile cats">Cats</div>
                            <div class="headerTile catsP">Cats - Petsmart</div>
                            <div class="headerTile dogs">Dogs</div>
                            <div class="headerTile rabbits">Rabbits</div>
                            <div class="headerTile smalls">Smalls</div>
                        </div>
                        <div layout="row" ng-repeat="i in [0,1,2]">
                            <div ng-repeat="e in dayData.slice(5*i,5*(i+1))" ng-class="e.eventClass" class="dayScheduleColumn">
                                <div flex layout="column">
                                    <div flex class="booking" ng-class="{'qFlag' : b.qFlag}" ng-repeat="b in e.bookings" ng-click="upsertSchedule($event, viewingDate, e, b)">
                                        <div ng-class="{'noshow' : b.noShow}">{{b.volunteerName}} <span ng-show="b.arrivalTime">: {{b.arrivalTime}}</span></div>
                                        <div>{{b.notes}}</div>
                                    </div>
                                    <div flex class="addNewBooking" ng-click="upsertSchedule($event, viewingDate, e)">+</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    
                </md-tab>
                <!--
                <md-tab label="Week">
                    <h4 style="text-align:center"><md-button ng-click="previousWeek()">&lt;</md-button>{{weekData[0].date.toDateString()}} - {{weekData[6].date.toDateString()}}<md-button ng-click="nextWeek()">&gt;</md-button></h4>
                    
                    <md-grid-list md-gutter="2px" md-cols="7" md-rows="1" md-row-height="400px">
                        <md-grid-tile ng-repeat="day in weekData">
                            
                            <div layout="column">
                                <div ng-if="day.events.length > 0">
                                    <div layout="row">
                                        <div ng-repeat="e in day.events.slice(0, 5)" class="{{e.eventClass}} weekSlot"></div>
                                    </div>
                                    <div layout="row">
                                        <div ng-repeat="e in day.events.slice(5, 10)" class="{{e.eventClass}} weekSlot"></div>
                                    </div>
                                    <div layout="row">
                                        <div ng-repeat="e in day.events.slice(10, 15)" class="{{e.eventClass}} weekSlot"></div>
                                    </div>
                                </div>
                                <div class="weekDayFooter">{{day.date.getDate()}}</div>
                            </div>
                            
                        </md-grid-tile>
                    
                    
                    </md-grid-list>
                    
                </md-tab> -->

                <md-tab label="Month">
                    <h4 style="text-align:center"><md-button ng-click="previousMonth()">&lt;</md-button>{{getMonthName()}}<md-button ng-click="nextMonth()">&gt;</md-button></h4>
                    
                    <div layout="row">
                        <div class="monthDayHeader">Sunday</div>
                        <div class="monthDayHeader">Monday</div>
                        <div class="monthDayHeader">Tuesday</div>
                        <div class="monthDayHeader">Wednesday</div>
                        <div class="monthDayHeader">Thursday</div>
                        <div class="monthDayHeader">Friday</div>
                        <div class="monthDayHeader">Saturday</div>
                    </div>
                    <md-grid-list md-gutter="2px" md-cols="7" md-rows="6" md-row-height="100px">
                        <md-grid-tile ng-repeat="day in monthData" class="{{day.topClass}}" flex ng-click="jumpToDay(day.date)" ng-class="{'todaysDate' : day.isToday}">
                            
                            <div  layout="column" flex>
                                <div ng-if="day.events.length > 0" flex>
                                    <div layout="row" flex>
                                        <div flex ng-repeat="e in day.events.slice(0, 5)" class="{{e.eventClass}} monthSlot"></div>
                                    </div>
                                    <div layout="row" flex>
                                        <div flex ng-repeat="e in day.events.slice(5, 10)" class="{{e.eventClass}} monthSlot"></div>
                                    </div>
                                    <div layout="row" flex>
                                        <div flex ng-repeat="e in day.events.slice(10, 15)" class="{{e.eventClass}} monthSlot"></div>
                                    </div>
                                </div>
                                <div class="monthDayFooter">{{day.label}}</div>
                            </div>
                                
                            
                        </md-grid-tile>
                    </md-grid-list>
                    
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
                    
</body>
    
</html>