<!doctype html>
<html ng-app="scheduleManagement">

<head>
    <link href="bower/angular-material/angular-material.css" rel="stylesheet">
    <link href="../schedule/schedule.css" rel="stylesheet">
    
    <script src="bower/angular/angular.js"></script>
    <script src="bower/angular-animate/angular-animate.js"></script>
    <script src="bower/angular-aria/angular-aria.js"></script>
    <script src="bower/angular-material/angular-material.js"></script>
    <script src="../schedule/scheduleManagement.js"></script>
</head>

<body ng-controller="ScheduleManagementController">
    <div class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/vdb">Volunteers</a></li>
            <li><a href="/vu">Users</a></li>
            <li><a href="/sch">Schedule</a></li>
        </ul>
    </div>
    
    <div>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom layout-padding>
                  
                <md-tab label="Day">
                    <h4 style="text-align:center"><md-button ng-click="previousDay()">&lt;</md-button>{{viewingDate.toDateString()}}<md-button ng-click="nextDay()">&gt;</md-button></h4>
                    
                    <md-grid-list md-gutter="2px" md-cols="5" md-rows="4" md-row-height="120px">
                        <md-grid-tile class="headerTile cats"><md-grid-tile-footer>Cats</md-grid-tile-footer></md-grid-tile>
                        <md-grid-tile class="headerTile catsP"><md-grid-tile-footer>Cats - Petsmart</md-grid-tile-footer></md-grid-tile>
                        <md-grid-tile class="headerTile dogs"><md-grid-tile-footer>Dogs</md-grid-tile-footer></md-grid-tile>
                        <md-grid-tile class="headerTile rabbits"><md-grid-tile-footer>Rabbits</md-grid-tile-footer></md-grid-tile>
                        <md-grid-tile class="headerTile smalls"><md-grid-tile-footer>Smalls</md-grid-tile-footer></md-grid-tile>
                        <md-grid-tile ng-repeat="e in dayData" ng-class="e.eventClass">
                            <div flex layout="column">
                                <div flex class="booking" ng-repeat="b in e.bookings" ng-click="upsertSchedule($event, viewingDate, e, b)">
                                    <div>{{b.volunteerName}} <span ng-show="b.arrivalTime">: {{b.arrivalTime}}</span></div>
                                    <div>{{b.notes}}</div>
                                </div>
                                <div flex class="addNewBooking" ng-click="upsertSchedule($event, viewingDate, e)">+</div>
                            </div>
                        </md-grid-tile>
                    </md-grid-list>
                    

                    
                </md-tab>
                <!--
                <md-tab label="Week">
                    <h4 style="text-align:center"><md-button ng-click="previousWeek()">&lt;</md-button>{{weekData[0].date.toDateString()}} - {{weekData[6].date.toDateString()}}<md-button ng-click="nextWeek()">&gt;</md-button></h4>
                    
                    <md-grid-list md-gutter="2px" md-cols="7" md-rows="1" md-row-height="400px">
                        <md-grid-tile ng-repeat="day in weekData">
                            
                            <div layout="column">
                                <div ng-if="day.events.length > 0">
                                    <div layout="row">
                                        <div ng-repeat="e in day.events.slice(0, 5)" class="{{e.eventClass}} weekSlot"></div>
                                    </div>
                                    <div layout="row">
                                        <div ng-repeat="e in day.events.slice(5, 10)" class="{{e.eventClass}} weekSlot"></div>
                                    </div>
                                    <div layout="row">
                                        <div ng-repeat="e in day.events.slice(10, 15)" class="{{e.eventClass}} weekSlot"></div>
                                    </div>
                                </div>
                                <div class="weekDayFooter">{{day.date.getDate()}}</div>
                            </div>
                            
                        </md-grid-tile>
                    
                    
                    </md-grid-list>
                    
                </md-tab> -->

                <md-tab label="Month">
                    <h4 style="text-align:center"><md-button ng-click="previousMonth()">&lt;</md-button>{{getMonthName()}}<md-button ng-click="nextMonth()">&gt;</md-button></h4>
                    
                    <md-grid-list md-gutter="2px" md-cols="7" md-rows="6" md-row-height="100px">
                        <md-grid-tile ng-repeat="day in monthData" class="{{day.topClass}}">
                            
                            <div  layout="column">
                                <div ng-if="day.events.length > 0">
                                    <div layout="row">
                                        <div ng-repeat="e in day.events.slice(0, 5)" class="{{e.eventClass}} monthSlot"></div>
                                    </div>
                                    <div layout="row">
                                        <div ng-repeat="e in day.events.slice(5, 10)" class="{{e.eventClass}} monthSlot"></div>
                                    </div>
                                    <div layout="row">
                                        <div ng-repeat="e in day.events.slice(10, 15)" class="{{e.eventClass}} monthSlot"></div>
                                    </div>
                                </div>
                                <div class="monthDayFooter">{{day.label}}</div>
                            </div>
                                
                            
                        </md-grid-tile>
                    </md-grid-list>
                    
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
                    
</body>
    
</html>