<!doctype html>
<html ng-app="scheduleManagement">

<head>
    <link href="bower/angular-material/angular-material.css" rel="stylesheet">
    <link href="../schedule/schedule.css" rel="stylesheet">
    
    <script src="bower/angular/angular.js"></script>
    <script src="bower/angular-animate/angular-animate.js"></script>
    <script src="bower/angular-aria/angular-aria.js"></script>
    <script src="bower/angular-material/angular-material.js"></script>
    <script src="../schedule/scheduleManagement.js"></script>
</head>

<body ng-controller="ScheduleManagementController">
    
</body>
    
</html>