.nav {
    margin:1px;
    background-color: yellow;
    border : solid blue 3px;
}

.nav > ul > li {
    display : inline;
    padding : 10px;
}

.headerTile {
    height:60px;
}

.cats {
    background-color : palevioletred;
}

.catsP {
    background-color : pink;
}

.dogs {
    background-color : cornflowerblue;
}

.rabbits {
    background-color: orange;
}

.smalls {
    background-color : limegreen;
}