<!doctype html>
<html ng-app="volunteerManagement">

<head>
    <link href="bower/angular-material/angular-material.css" rel="stylesheet">
    <link href="../volunteers/main.css" rel="stylesheet">
    
    <script src="bower/angular/angular.js"></script>
    <script src="bower/angular-animate/angular-animate.js"></script>
    <script src="bower/angular-aria/angular-aria.js"></script>
    <script src="bower/angular-material/angular-material.js"></script>
    <script src="../volunteers/volunteerManagement.js"></script>
</head>

<body ng-controller="VolunteerManagementController">
    
    <div class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/vdb">Volunteers</a></li>
            <li><a href="/vu">Users</a></li>
            <li><a href="/sch">Schedule</a></li>
        </ul>
    </div>
    
    <div class="filter">
        <select class="input-lg" ng-model="filterModel.criteriaType">
            <option value="0" selected>Email Address</option>
            <option value="1">Name</option>
            <option value="2">Training</option>
            <option value="3">Interests</option>
            <option value="4">Availability</option>
            <option value="5">Active Only</option>
            <option value="6">Older than 14</option>
            <option value="7">Older than 18</option>
        </select>

        <input type="text" class="input-lg" ng-model="filterModel.criteriaText" ng-show="filterModel.criteriaType=='0' || filterModel.criteriaType=='1'">
        <select class="input-lg" ng-model="filterModel.criteriaTraining" ng-show="filterModel.criteriaType=='2'">
            <option value="0:Cats">Cats</option>
            <option value="1:Petsmart Cats">Petsmart Cats</option>
            <option value="2:Dogs">Dogs</option>
            <option value="3:Rabbits">Rabbits</option>
            <option value="4:Smalls">Smalls</option>
            <option value="5:Q Cats">Q Cats</option>
            <option value="6:Q Dogs">Q Dogs</option>
            <option value="7:Q Rabbits">Q Rabbits</option>
            <option value="8:Q Smalls">Q Smalls</option>
        </select>
        <select class="input-lg" ng-model="filterModel.criteriaInterests" ng-show="filterModel.criteriaType=='3'">
            <option value="0:Cats">Cats</option>
            <option value="1:Dogs">Dogs</option>
            <option value="2:Rabbits">Rabbits</option>
            <option value="3:Smalls">Smalls</option>
            <option value="4:Maintenance">Maintenance</option>
            <option value="5:Fundraising">Fundraising</option>
            <option value="6:Events">Events</option>
        </select>
        <select class="input-lg" ng-model="filterModel.criteriaAvailability" ng-show="filterModel.criteriaType=='4'">
            <option value="0_0:Monday Morning">Monday Morning</option>
            <option value="0_1:Monday Afternoon">Monday Afternoon</option>
            <option value="0_2:Monday Evening">Monday Evening</option>  
            <option value="1_0:Tuesday Morning">Tuesday Morning</option>
            <option value="1_1:Tuesday Afternoon">Tuesday Afternoon</option>
            <option value="1_2:Tuesday Evening">Tuesday Evening</option>
            <option value="2_0:Wednesday Morning">Wednesday Morning</option>
            <option value="2_1:Wednesday Afternoon">Wednesday Afternoon</option>
            <option value="2_2:Wednesday Evening">Wednesday Evening</option>
            <option value="3_0:Thursday Morning">Thursday Morning</option>
            <option value="3_1:Thursday Afternoon">Thursday Afternoon</option>
            <option value="3_2:Thursday Evening">Thursday Evening</option>  
            <option value="4_0:Friday Morning">Friday Morning</option>
            <option value="4_1:Friday Afternoon">Friday Afternoon</option>
            <option value="4_2:Friday Evening">Friday Evening</option>
            <option value="5_0:Saturday Morning">Saturday Morning</option>
            <option value="5_1:Saturday Afternoon">Saturday Afternoon</option>
            <option value="5_2:Saturday Evening">Saturday Evening</option>
            <option value="6_0:Sunday Morning">Sunday Morning</option>
            <option value="6_1:Sunday Afternoon">Sunday Afternoon</option>
            <option value="6_2:Sunday Evening">Sunday Evening</option>
        </select>
        <button class="btn btn-primary btn-lg" ng-click="addCriteria()">Add Filter</button>
        
        <ul>
            <li ng-repeat="f in filters"><span ng-click="removeCriteria($index)">[X]</span>{{f.summary}}</li>
        </ul>
        
    </div>
    <div class="paginationControls" layout="row">
        <div ng-click="previousPage()">&lt;</div> Page {{currPage}} of {{totalPages}}<div ng-click="nextPage()">&gt;</div>
    </div>
    <table class="vlist">
        <thead>
            <tr class="vlistHeader">
                <th>Name</th>
                <th>Pref. Contact</th>
                <th>Status</th>
                <th>Interests</th>
                <th>Availability</th>
                <th>Donor?</th>
                <th>Boarder?</th>
                <th>Adopter?</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="v in volunteers" id="v._id" ng-click="editVolunteer(v)" ng-class="{'rowSelected' : volunteerSelected[v._id], 'disqualified' : hasDisqualifyingData(v), 'minor' : isMinor(v)}">
            <td>{{v.firstName}} {{v.lastName}}</td>
            <td>{{formatPrefContact(v)}}</td>
            <td>{{formatStatus(v)}}</td> 
            <td>{{formatInterests(v)}}</td>  
            <td> <span class="schedWrap">
                  <div class="dotw">
                      <div class="am {{getAvailabilityClass(v, 0, 0)}}"></div>
                      <div class="md {{getAvailabilityClass(v, 0, 1)}}"></div>
                      <div class="pm {{getAvailabilityClass(v, 0, 2)}}"></div>
                  </div>
                  <div class="dotw">
                       <div class="am {{getAvailabilityClass(v, 1, 0)}}"></div>
                      <div class="md {{getAvailabilityClass(v, 1, 1)}}"></div>
                      <div class="pm {{getAvailabilityClass(v, 1, 2)}}"></div>
                </div> 
                  <div class="dotw">
                      <div class="am {{getAvailabilityClass(v, 2, 0)}}"></div>
                      <div class="md {{getAvailabilityClass(v, 2, 1)}}"></div>
                      <div class="pm {{getAvailabilityClass(v, 2, 2)}}"></div>
                  </div> 
                  <div class="dotw">
                      <div class="am {{getAvailabilityClass(v, 3, 0)}}"></div>
                      <div class="md {{getAvailabilityClass(v, 3, 1)}}"></div>
                      <div class="pm {{getAvailabilityClass(v, 3, 2)}}"></div>
                  </div> 
                  <div class="dotw">
                      <div class="am {{getAvailabilityClass(v, 4, 0)}}"></div>
                      <div class="md {{getAvailabilityClass(v, 4, 1)}}"></div>
                      <div class="pm {{getAvailabilityClass(v, 4, 2)}}"></div>
                  </div> 
                  <div class="dotw">
                      <div class="am {{getAvailabilityClass(v, 5, 0)}}"></div>
                      <div class="md {{getAvailabilityClass(v, 5, 1)}}"></div>
                      <div class="pm {{getAvailabilityClass(v, 5, 2)}}"></div>
                  </div> 
                  <div class="dotw">
                      <div class="am {{getAvailabilityClass(v, 6, 0)}}"></div>
                      <div class="md {{getAvailabilityClass(v, 6, 1)}}"></div>
                      <div class="pm {{getAvailabilityClass(v, 6, 2)}}"></div>
                  </div> 
                </span>
            </td>   
            <td>{{v.donorData.gifts.length > 0 ? 'Yes' : 'No'}}</td>  
            <td>{{v.boardingData && v.boardingData.boardingDate ? 'Yes' : 'No'}}</td>  
            <td>{{v.adopteeData.adoptions.length > 0 ? 'Yes' : 'No'}}</td>  
        </tr>
        </tbody>
    </table>
    
    <hr/>
    
    <!-- FORM TO enter/update new Volunteers -->
    <div id="volun-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <input type="hidden" ng-model="formData._id">
                <md-content>
                    <md-tabs id="mainVformTabs" md-dynamic-height md-border-bottom>
                        <md-tab label="Contact Information">
                            <md-content layout-padding>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>First Name</label>
                                        <input type="text" class="form-control input-lg text-center" ng-model="formData.firstName">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Last Name</label>
                                        <input type="text" class="form-control input-lg text-center" ng-model="formData.lastName">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Email</label> 
                                        <input type="text" class="form-control input-lg text-center" ng-model="formData.email">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <md-tooltip>Set true to prevent this email from being exported to bulk email reports.</md-tooltip>
                                        <md-checkbox ng-model="formData.doNotEmail" aria-label="No Bulk?">
                                            No Bulk?
                                        </md-checkbox>
                                    </md-input-container>
                                </div>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Address</label>
                                        <textarea type="text" cols="40" rows="2" class="form-control input-lg text-center" ng-model="formData.address"></textarea>
                                    </md-input-container>
                                </div>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>City</label>
                                        <input type="text" class="form-control input-lg text-center" ng-model="formData.city">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex="15">
                                        <label>State</label>
                                        <md-select ng-model="formData.state">
                                          <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                            {{state.abbrev}}
                                          </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Zip Code</label>
                                        <input type="text" class="form-control input-lg text-center" ng-model="formData.zip">
                                    </md-input-container>
                                </div>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Home Phone Number</label>
                                        <input type="text" class="form-control input-lg text-center" ng-model="formData.phoneNumber">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Cell Phone Number</label>
                                        <input type="text" class="form-control input-lg text-center" ng-model="formData.altPhoneNumber">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Work Phone Number</label>
                                        <input type="text" class="form-control input-lg text-center" ng-model="formData.workPhoneNumber">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Contact Preference?</label>
                                        <md-select class="form-control input-lg text-center" ng-model="formData.contactPreference">
                                            <md-option value="0">Email</md-option>
                                            <md-option value="1">Home Phone</md-option>
                                            <md-option value="2">SMS</md-option>
                                            <md-option value="3">Cell Phone</md-option>
                                            <md-option value="4">Work Phone</md-option>
                                        </md-select> 
                                    </md-input-container>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Volunteering Data">
                            <md-content layout-padding>
                                <md-tabs id="subVformTabs" md-dynamic-height md-border-bottom>
                                    <md-tab label="General Information">
                                        <div>
                                            <div layout-gt-sm="row">
                                                <md-input-container flex-gt-sm="10">
                                                    <md-checkbox ng-model="formData.active" aria-label="Active?">Active?</md-checkbox>
                                                </md-input-container>
                                                <md-input-container flex-gt-sm="15">
                                                    <md-checkbox ng-model="formData.specialNeeds" aria-label="Special Needs?">Special Needs?</md-checkbox>
                                                </md-input-container>
                                                <md-input-container flex-gt-sm="15">
                                                    <md-checkbox ng-model="formData.foster" aria-label="Foster?">Foster?</md-checkbox>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex ng-show="formData.foster">
                                                    <label>Fostering</label>
                                                    <input type="text" ng-model="formData.fostering">
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Birthday</label>
                                                    <md-datepicker ng-model="formData.birthday"></md-datepicker>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Started</label>
                                                    <md-datepicker ng-model="formData.started"></md-datepicker>
                                                </md-input-container>
                                            </div>
                                            <div layout-gt-sm="row">
                                                <md-input-container class="md-block" flex="20">
                                                    <label>Last Seen</label>
                                                    <md-datepicker ng-model="formData.lastSeen"></md-datepicker>
                                                 </md-input-container>
                                                <md-input-container class="md-block" flex="20">
                                                    <label>Hours Worked</label>
                                                    <input type="text" ng-model="formData.hoursWorked">
                                                 </md-input-container>
                                                 <md-input-container class="md-block" flex="20">
                                                    <label># No Shows</label>
                                                    <input type="text" ng-model="formData.noShows">
                                                 </md-input-container>
                                            </div>
                                            <div layout-gt-sm="row">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Notes</label>
                                                    <input type="text" ng-model="formData.notes">
                                                </md-input-container>
                                            </div>
                                            <div layout-gt-sm="row">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Guardian(s)</label>
                                                    <md-tooltip>Names of people that can supervise this volunteer</md-tooltip>
                                                    <input type="text" ng-model="formData.partners">
                                                 </md-input-container>
                                                 <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Guardian for</label>
                                                    <md-tooltip>Names of people that are <strong>supervised</strong> by this volunteer</md-tooltip>
                                                    <input type="text" ng-model="formData.dependents">
                                                 </md-input-container>
                                            </div>
                                            <div layout-gt-sm="row">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Emergency Contact</label>
                                                    <input type="text" ng-model="formData.emergencyContactName">
                                                 </md-input-container>
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>EC Phone</label>
                                                    <input type="text" ng-model="formData.emergencyContactNumber">
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>EC Relationship</label>
                                                    <input type="text" ng-model="formData.emergencyContactRelationship">
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </md-tab>
                                    <md-tab label="Training Status">
                                        <div layout-gt-sm="row">
                                            <md-input-container flex-gt-sm>
                                                <md-checkbox ng-model="formData.statuswaiver" aria-label="Waiver Collected?">Waiver Collected?</md-checkbox>
                                            </md-input-container>
                                            <md-input-container flex-gt-sm="70">
                                                <label>Completed Orientation?</label>
                                                <md-datepicker ng-model="formData.statusoriented"></md-datepicker>
                                            </md-input-container>
                                        </div>
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex="25">
                                                <label>Trained for Cats?</label>
                                                <md-datepicker ng-model="formData.statustrainedCats"></md-datepicker>
                                            </md-input-container>
                                            <md-input-container class="md-block" flex="25">
                                                <label>Trained for PETSMART Cats?</label>
                                                <md-datepicker ng-model="formData.statustrainedCatsPetsmart"></md-datepicker>
                                            </md-input-container>
                                            <md-input-container class="md-block" flex="25">
                                                <label>Cat Quarantine?</label>
                                                <md-datepicker ng-model="formData.statustrainedCatsQuarantine"></md-datepicker>
                                            </md-input-container>
                                        </div>
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex="50">
                                                <label>Trained for Dogs?</label>
                                                <md-datepicker ng-model="formData.statustrainedDogs"></md-datepicker>
                                            </md-input-container>
                                            <md-input-container class="md-block" flex="25">
                                                <label>Dog Quarantine</label>
                                                <md-datepicker ng-model="formData.statustrainedDogsQuarantine"></md-datepicker>
                                            </md-input-container>
                                        </div>
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex="50">
                                                <label>Trained for Rabbits?</label>
                                                <md-datepicker ng-model="formData.statustrainedRabbit"></md-datepicker>
                                            </md-input-container>
                                            <md-input-container class="md-block" flex="25">
                                                <label>Rabbit Quarantine</label>
                                                <md-datepicker ng-model="formData.statustrainedRabbitQuarantine"></md-datepicker>
                                            </md-input-container>
                                        </div>
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex="50">
                                                <label>Trained for Smalls?</label>
                                                <md-datepicker ng-model="formData.statustrainedSmalls"></md-datepicker>
                                            </md-input-container>
                                            <md-input-container class="md-block" flex="25">
                                                <label>Smalls Quarantine</label>
                                                <md-datepicker ng-model="formData.statustrainedSmallsQuarantine"></md-datepicker>
                                            </md-input-container>
                                        </div>
                                    </md-tab>
                                    <md-tab label="Interests">
                                        <h4>Rank Interests with a number where 1 is very interested. Leave blank for no interest. Ties are fine.</h4>
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex="25">
                                                <label>Cats</label>
                                                <input type="text" ng-model="formData.interestscats">
                                            </md-input-container>                                            
                                            <md-input-container class="md-block" flex="25">
                                                <label>Dogs</label>
                                                <input type="text" ng-model="formData.interestsdogs">
                                            </md-input-container>                                            
                                            <md-input-container class="md-block" flex="25">
                                                <label>Rabbits</label>
                                                <input type="text" ng-model="formData.interestsrabbits">
                                            </md-input-container>                                            
                                            <md-input-container class="md-block" flex="25">
                                                <label>Smalls</label>
                                                <input type="text" ng-model="formData.interestssmalls">
                                            </md-input-container>
                                        </div>
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex="25">
                                                <label>Maintenance</label>
                                                <input type="text" ng-model="formData.interestsmaintenance">
                                            </md-input-container>                                            
                                            <md-input-container class="md-block" flex="25">
                                                <label>Fundraising</label>
                                                <input type="text" ng-model="formData.interestsfundraising">
                                            </md-input-container>                                            
                                            <md-input-container class="md-block" flex="25">
                                                <label>Events</label>
                                                <input type="text" ng-model="formData.interestsevents">
                                            </md-input-container>
                                        </div>
                                    </md-tab>
                                    <md-tab label="Availability">
                                        <div layout-gt-sm="row" layout-padding>
                                            <div class="av-weekend" flex>Sunday
                                                <div class="av-timeslot" flex>  Morning :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitysundaymorning"></div>
                                                <div class="av-timeslot" flex>  Afternoon :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitysundayafternoon"></div>
                                                <div class="av-timeslot" flex>  Evening :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitysundayevening"></div>
                                            </div>
                                            <div class="av-weekday" flex>Monday
                                                <div class="av-timeslot" flex>  Morning :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitymondaymorning"></div>
                                                <div class="av-timeslot" flex>  Afternoon :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitymondayafternoon"></div>
                                                <div class="av-timeslot" flex>  Evening :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitymondayevening"></div>
                                            </div>
                                            <div class="av-weekday"  flex>Tueday
                                                <div class="av-timeslot" flex>  Morning :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitytuesdaymorning"></div>
                                                <div class="av-timeslot" flex>  Afternoon :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitytuesdayafternoon"></div>
                                                <div class="av-timeslot" flex>  Evening :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitytuesdayevening"></div>
                                            </div>
                                            <div class="av-weekday" flex>Wednesday
                                                <div class="av-timeslot" flex>  Morning :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitywednesdaymorning"></div>
                                                <div class="av-timeslot" flex>  Afternoon :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitywednesdayafternoon"></div>
                                                <div class="av-timeslot" flex>  Evening :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitywednesdayevening"></div>
                                            </div>
                                            <div class="av-weekday" flex>Thursday
                                                <div class="av-timeslot" flex>  Morning :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitythursdaymorning"></div>
                                                <div class="av-timeslot" flex>  Afternoon :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitythursdayafternoon"></div>
                                                <div class="av-timeslot" flex>  Evening :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitythursdayevening"></div>
                                            </div>
                                            <div class="av-weekday" flex>Friday
                                                <div class="av-timeslot" flex>  Morning :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilityfridaymorning"></div>
                                                <div class="av-timeslot" flex>  Afternoon :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilityfridayafternoon"></div>
                                                <div class="av-timeslot" flex>  Evening :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilityfridayevening"></div>
                                            </div>                
                                            <div class="av-weekend" flex>Saturday
                                                <div class="av-timeslot" flex>  Morning :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitysaturdaymorning"></div>
                                                <div class="av-timeslot" flex>  Afternoon :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitysaturdayafternoon"></div>
                                                <div class="av-timeslot" flex>  Evening :<input type="checkbox" class="form-control input-lg text-center" ng-model="formData.availabilitysaturdayevening"></div>
                                            </div>
                                        </div>
                                        <div layout="row">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Notes</label>
                                                <textarea type="text" cols="70" rows="2" class="form-control input-lg text-center" ng-model="formData.availabilitynotes"></textarea>
                                            </md-input-container> 
                                        </div>    
                                    </md-tab>
                                </md-tabs>
                            </md-content>
                        </md-tab>
                        <md-tab label="Donor Data">
                            <md-content layout-padding>
                                <div class="form-label">Donation $
                                    <input type="text" class="form-control input-lg text-center" ng-model="formData.donationAmount">
                                </div>
                                <div class="form-label">Donation Date
                                    <input type="date" class="form-control input-lg text-center" ng-model="formData.donationDate">
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Boarding Data">
                            <md-content layout-padding>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Last Boarding Date</label>
                                    <md-datepicker ng-model="formData.boardingDate"></md-datepicker>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Notes</label>
                                    <input type="text" class="form-control input-lg text-center" ng-model="formData.boardingNotes">
                                </md-input-container>
                            </md-content>
                        </md-tab>
                        <md-tab label="Adopting Data">
                            <md-content layout-padding>
                                <div class="form-label">Adoption Date
                                    <input type="date" class="form-control input-lg text-center" ng-model="formData.adoptingDate">
                                </div>
                                <div class="form-label">Name
                                    <input type="text" class="form-control input-lg text-center" ng-model="formData.adopteeName">
                                </div>
                                <div class="form-label">Kind (dropdown?)
                                    <input type="text" class="form-control input-lg text-center" ng-model="formData.adopteeKind">
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Disqualifying Data">
                            <md-content layout-padding>
                                <h4>Place to note any adverse events associated with the name, address, or email address for future reference.</h4>
                                <div layout="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Surrendered an Animal</label>
                                        <md-datepicker ng-model="formData.dqSurrenderDate"></md-datepicker>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Failed a Vet Check</label>
                                        <md-datepicker ng-model="formData.dqFailedVetDate"></md-datepicker>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Failed a Home Check</label> 
                                        <md-datepicker ng-model="formData.dqFailedHomeDate"></md-datepicker>
                                    </md-input-container>
                                </div>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Notes</label> 
                                    <input type="text" class="form-control input-lg text-center" ng-model="formData.dqNotes">
                                </md-input-container>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
                <button type="button" class="btn btn-primary btn-lg" ng-click="upsertVolunteer()">Add/Update</button>
                <button type="button" class="btn btn-primary btn-lg" ng-click="clearForm()">Cancel</button>
                <button type="button" class="btn btn-primary btn-lg" ng-click="deleteRecord()">Delete</button>
                
            </form>
        </div>
    </div>
    
</body>


</html>
